include todo/static/favicon.ico
include todo/static/css/*.css
include todo/static/scripts/*js
include todo/static/scripts/views/*js
include todo/templates/*.html
include todo/templates/favicon.ico
