include tutorial/static/favicon.ico
include tutorial/static/css/*.css
include tutorial/static/scripts/*js
include tutorial/static/scripts/views/*js
include tutorial/templates/*.html
include tutorial/templates/favicon.ico
include blog/scripts/schema.sql
