include task_manager/static/favicon.ico
include task_manager/static/css/*.css
include task_manager/static/scripts/*js
include task_manager/static/scripts/views/*js
include task_manager/templates/*.html
include task_manager/templates/favicon.ico
include blog/scripts/schema.sql
include blog/static/css/*.css
include blog/templates/*.html
include blog/templates/modules/*.html
